<div class="mainCont">
<%= image_tag("golfswing.jpg", alt: "Welcome Logo", :class => "welcomeIm") %>    
<%provide(:title, "Home")%>
<h1>HOME</h1>
<p>Welcome to your first home page!</p>
<%=render 'layouts/categories'%>
<%=render 'layouts/popular'%>
</div>